{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "plugins": [
  	"transform-async-to-generator",
  	"transform-decorators-legacy",
    "transform-object-assign",
    "react-hot-loader/babel"
  ],
  "env": {
    "test:mocha": {
      "presets": [
        "es2015",
        "stage-0"
      ]
    }
  }
}
