{
  "presets": [
    ["env", { "modules": false }],
    "react",
    "stage-0"
  ],
  "plugins": [
  	"transform-async-to-generator",
    "transform-decorators-legacy",
    ["transform-runtime", {"polyfill": false, "regenerator": true}],
    "minify-dead-code-elimination",
    "minify-guarded-expressions"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {"removeImport": true}]
      ]
    }
  }
}
