{
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["kotori"],
  "globals": {
    "autobind": true
  },
  "rules": {
    "new-cap": 0
  }
}
