{
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["kotori"],
  "plugins": ["prettier"],
  "globals": {
    "autobind": true
  },
  "rules": {
    "new-cap": 0,
    "linebreak-style": 1,
    "prettier/prettier": [1, {
      "singleQuote": true,
      "trailingComma": "none",
      "bracketSpacing": true,
      "jsxBracketSameLine": true
    }]
  }
}
