sudo: false
dist: trusty
language: node_js

node_js:
  - 8

cache:
  directories:
  - node_modules
  - $HOME/.yarn-cache

install:
  - yarn install

script:
  - npm test

after_script:
  - npm run coverage
