/* Base Application Styles */

body {
    font-family: "Helvetica Neue", "arial", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.message {
    text-align: center;
    padding: 10px 0;
    color: #999;
}

.link {
    color: #1e6bb8;
    text-decoration: none;
}

.hide {
    display: none!important;
}

.show {
    display: block!important;
}
