.float-btn {
    position: fixed;
    display: none;
    right: 40px;
    bottom: 40px;
    width: 4rem;
    height: 4rem;
    color: #fff;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 2333;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    line-height: 6rem;
    text-align: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.float-btn i {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    left: 1rem;
}

#refresh {
    display: block;
    background-color: #2196F3;
}

#refresh i {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*IE*/
    filter: FlipH;
}

.loading-spinner {
    display: none;
    margin: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    animation: rotate 0.8s infinite linear;
    border: .3rem solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}