.appbar-toolbar {
  display: flex;
  align-items: center;
  position: relative;
}

.appbar-title {
  flex: 1;
  height: 21px;
  @media screen and (max-width: 649px) {
    display: none;
  }
}

.appbar-middle {
  flex: 1;
}

.search-root {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  margin-left: 8px;
  margin-right: 16px;
  border-radius: 2px;
  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
  .search {
    width: 72px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
  }
  .search-input {
    font: inherit;
    color: inherit;
    width: 100px;
    @media screen and (max-width: 321px) {
      width: 55px;
    }
    border: 0;
    margin: 0;
    padding: 8px 8px 8px 72px;
    outline: 0;
    display: block;
    background: none;
    white-space: normal;
    vertical-align: middle;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:focus {
      @media screen and (min-width: 650px) {
        width: 220px;
      }
    }
  }
}
