.cell {
    width: 175px;
    min-height: 100px;
    padding: 0px 0px 0;
    background: #fff;
    margin: 8px;
    margin-top: 10px;
    font-size: 12px;
    float: left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
    text-align: center;
}

.cell:hover {
    box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -moz-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -webkit-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#979797, direction=135, strength=3);
}

.cell img {
    overflow: hidden;
    border: 0;
    max-width: 100%;
    background: #ccc;
}

.cell a {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.cell .title {
    margin: 1px 0;
    font-size: 16px;
    line-height: 10px;
}

.cell .meta {
    line-height: 10px;
    padding: 0px 0px 1px;
    margin: 8px 0;
    font-size: 10px;
}

.cell .meta i.star {
    font-size: 10px;
    vertical-align: -1px;
}

.cell .meta .count {
    color: #0069b1;
    background-color: #cceeff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 1px;
    padding: 0 6px;
}

@media screen and (max-width: 400px) {
    .cell {
        width: 160px;
    }
}
