.cell {
    width: 175px;
    min-height: 100px;
    padding: 0px 0px 0;
    background: #fff;
    margin: 8px;
    margin-top: 10px;
    font-size: 12px;
    float: left;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
    font-style: strong;
    text-align: center;
}

.cell:hover {
    box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -moz-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -webkit-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#979797, direction=135, strength=3);
}

.cell img {
    width: expression(document.body.clientWidth>190?"190px": "auto");
    overflow: hidden;
    border: 0;
    max-width: 100%;
    background: #ccc;
}

.cell a {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.cell p.title {
    margin: 10px 0;
    display: block;
    padding: 0px 0px 5px;
    font-size: 17px;
    line-height: 10px;
}

.cell p.meta {
    display: block;
    line-height: 10px;
    padding: 0px 0px 5px;
    margin: 10px 0;
}

@media screen and (max-width: 400px)
{
  .cell {
    width: 160px;
  }
}
