.cell {
  width: 175px;
  min-height: 100px;
  padding: 0;
  background: #fff;
  margin: 8px;
  margin-top: 10px;
  font-size: 12px;
  float: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  @media screen and (max-width: 400px) {
    width: 160px;
  }
  @media screen and (max-width: 320px) {
    width: 140px;
  }
  &:hover {
    box-shadow: 0 1px 5px rgba(34, 25, 25, 0.8);
  }
  .link {
    text-decoration: none;
  }
  .image-wrapper {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      max-width: 100%;
      background: #ccc;
      transition: opacity .5s ease, transform .2s ease;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  .title span, .meta span {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
  .title {
    margin: 1px 0;
    font-size: 16px;
    line-height: 1;
  }
  .meta {
    line-height: 1;
    padding: 0 0 1px;
    margin: 8px 0;
    font-size: 10px;
    .count {
      color: #0069b1;
      background-color: #cceeff;
      border-radius: 3px;
      margin: 0 1px;
      padding: 0 6px;
    }
    i {
      font-size: 10px;
      vertical-align: -1px;
    }
    .rank-num {
      color: #555;
      font-weight: bold;
      font-size: 16px;
    }
    .rank-text-outer {
      color: #757575;
      vertical-align: 1px;
      &.no-previous-rank {
        color: #f44336;
      }
      i {
        font-size: 20px;
        &.trending_down {
          color: #3f51b5;
        }
        &.trending_up {
          color: #d32f2f;
        }
      }
      margin-left: 3px;
    }
  }
}
