.login-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1000;
}

.login-modal-body {
    position: fixed;
    width: 24em;
    left: 50%;
    top: 50%;
    z-index: 1001;
    background: #fff;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24706) 0 14px 45px, rgba(0, 0, 0, 0.21961) 0 10px 18px;
    border-radius: 2px;
    outline: 0 none;

    .clear {
        float: right;
        cursor: pointer;
        padding: 5px;
    }

    .avatar {
        left: 50%;

        img {
            border-radius: 50%;
            vertical-align: middle;
        }

        .name {
            padding-left: 10px;
            font-size: 16px;
        }
    }

    .form {
        height: auto;
        opacity: 1;
        padding-top: 12em;
        padding: 3em;
    }

    .fields {
        opacity: 1;
        visibility: visible;
    }

    .footer {
        padding-top: 1em;
    }
}

@media screen and (max-width: 600px) {
    .login-modal-body {
        width: 18em;
    }
}

body {
    &.login-modal-open {
        overflow: hidden;
    }
}