.material-icons {
    &.refresh:after {
        content: "\e5d5";
    }

    &.grade:after {
        content: "\e885";
    }

    &.person:after {
        content: "\e7fd";
    }

    &.clear:after {
        content: "\e14c";
    }

    &.favorite:after {
        content: "\e87d";
    }
}